<!doctype html>
<html>
<head>
    <title>Restaurants - {{name}}</title>
</head>
<body>
    <header>
        {{> hbs/resto/nav}}
        {{> hbs/resto/header}}
    </header>
    <main class="flex-fill">
        {{> hbs/resto/index}}
    </main>
    <footer class="mt-auto">
        {{> hbs/resto/footer}}
    </footer>
</body>
</html>