<!doctype html>
<html>
  <head>
    <title>Restaurants - {{name}}</title>
  </head>
  <body>
    {{> hbs/resto/nav}}
    {{> hbs/resto/header}}
    {{> hbs/resto/index}}
    {{> hbs/resto/footer}}
  </body>
</html>