<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélection de Restaurant</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Ajoutez vos styles personnalisés ici si nécessaire */
        #formClient {
            margin-top: 75px;
            margin-bottom: 395px;
        }
    </style>
</head>
<section id="formClient" class="container">
    <h3/>Informations client</h3>
    <form action="/client" method="post">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" required>
            <label for="adresse">Adresse</label>
            <input type="text" class="form-control" id="adresse" name="adresse" required>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</section>
<button type="submit" class="btn btn-primary" onclick="checkout()">Valider ma commande</button>

<script>
     function removeFromCart(foodId, quantity) {
         fetch('/cart/remove_from_cart', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify({ food_id: foodId, quantity: quantity }),
         })
                 .then(response => response.text())
                 .then(data => console.log(data));
     }

     function addToCart(foodId, quantity) {
         fetch('/cart/add_to_cart', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify({ food_id: foodId, quantity: quantity }),
         })
                 .then(response => response.text())
                 .then(data => console.log(data));
     }

     function checkout() {
         fetch('/cart/checkout', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
         })
                 .then(response => response.text())
                 .then(data => console.log(data));
     }
 </script>







