<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélection de Restaurant</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Ajoutez vos styles personnalisés ici si nécessaire */
        #about {
            margin-top: 150px;
        }
        #about h1{
            text-align: left;
        }
    </style>
</head>
<body>
    <section id= "about" class="container">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ullamcorper ut dui vitae pretium. Phasellus volutpat massa eu velit fermentum sodales. Nunc placerat a est sit amet feugiat. In hac habitasse platea dictumst. Curabitur at turpis et tortor suscipit hendrerit. Nunc vestibulum turpis quis felis pulvinar tristique. Donec vestibulum turpis nec ipsum interdum, vitae gravida nisi rhoncus. Praesent elementum suscipit odio fringilla accumsan. Vestibulum ut velit sagittis lectus rhoncus rhoncus. Donec eleifend dictum nulla, et congue urna molestie id. Vestibulum ut sollicitudin dui. Etiam a nunc et massa hendrerit lacinia eu et erat. In nulla sapien, pellentesque in arcu non, consectetur auctor lacus. Proin quam justo, accumsan ac massa vitae, suscipit eleifend metus.
   </section>
</body>